NODE_ENV=development
# Optional public RPC overrides
# ROBINHOOD_RPC=https://rpc.mainnet.chain.robinhood.com
# BSC_RPC=https://bsc-dataseed.binance.org
# BERACHAIN_RPC=https://rpc.berachain.com
# COINGECKO_API=https://api.coingecko.com/api/v3
